# Communcation between Python Program and MySql

In [1]:
#step 1
# Import the necessary libraries
import mysql.connector

## Create Database

In [2]:
## create database in MySQL
def createDB():
    try:
        # step 2
        # Connect to MySQL 
        con = mysql.connector.connect(host="127.0.0.1",
                                      user="root",
                                      passwd="9098562460",
                                      auth_plugin='mysql_native_password'
                                      )
        #Step-3
        # Create a cursor object using the connection
        # This cursor allows us to execute SQL queries
        cur = con.cursor()
        #Step-4
        dbc="create database if not exists MachineLearning"
        # This SQL command creates a database named 'MachineLearning' if it doesn't already exist
        # Execute the SQL command to create a database
        cur.execute(dbc)
        #Step-5
        
        print("Database Created in MySQL--Verify")
    except mysql.connector.DatabaseError as db:
        print("Problem with MySQL: ", db)

#Main Program
createDB()

Database Created in MySQL--Verify

## Create Table

In [3]:
## create table in MySQL
def CreateTable():
    try:
        con = mysql.connector.connect(host="127.0.0.1",
                                      user="root",
                                      passwd="9098562460",
                                      auth_plugin='mysql_native_password')
        cur = con.cursor()
        query = "use MachineLearning"
        cur.execute(query)
        # This SQL command selects the 'MachineLearning' database for use
        # Execute the SQL command to select the database
        print("Database Selected")
        query2 = "create table if not exists Employee(empid int primary key, empname varchar(20), empemail varchar(20), empsalary int)"
        # This SQL command creates a table named 'Employee' with specified columns and data types
        # Execute the SQL command to create the table
        cur.execute(query2)
        print("Table Created in MySQL--Verify")
    except mysql.connector.DatabaseError as db:
        print("Problem with MySQL: ", db)
CreateTable()

Database Selected
Table Created in MySQL--Verify

## Insert data

In [4]:
## insert data into table in MySQL
def Insert_data():
    try:
        con = mysql.connector.connect(host="localhost",
                                           user="root",
                                           passwd="9098562460",
                                           auth_plugin="mysql_native_password",
                                           database='MachineLearning')
        cur=con.cursor()
        empid=int(input("Enter Employee ID: "))
        empname=input("Enter Employee Name: ")
        empemail=input("Enter Employee Email: ")
        empsalary=int(input("Enter Employee Salary: "))
        # This SQL command inserts a new record into the 'Employee' table with the provided values
        query="insert into employee(empid, empname, empemail, empsalary) values("+str(empid)+",'"+empname+"','"+empemail+"',"+str(empsalary)+")"
        cur.execute(query)
        con.commit()
        print("Data Inserted into Employee Table")
        con.close()
    except mysql.connector.DatabaseError as db:
        print("Problem with MySQL: ", db)
Insert_data()

Data Inserted into Employee Table

## Select Data

In [5]:
## select data from table in MySQL
def datafetch():
    try:
        con = mysql.connector.connect(host="localhost",
                                      user='root',
                                      passwd="9098562460",
                                           auth_plugin="mysql_native_password",
                                           database='MachineLearning')

        cur=con.cursor()
        query="select * from employee"
        cur.execute(query)
        result = cur.fetchall()
        for row in result :
            print(row)
        con.close()
    except mysql.connector.DatabaseError as db:
        print("Problem with MySQL :" , db)
datafetch()

(1, 'Pradeep Rawat', 'P4458@gmail.com', 50000)
(2, 'naman', 'a.4458@gmail.com', 45550)
(3, 'akash', 's@gmail.com', 234455)

## Update Data

In [8]:
## update data from table in MySql
def update_data():
    try:
        con = mysql.connector.connect(host="localhost",
                                      user='root',
                                      passwd="9098562460",
                                    auth_plugin="mysql_native_password",
                                    database='MachineLearning')
        cur = con.cursor()
        query="update employee set empname='John' where empid=3"
        # This SQL command updates the 'empname' of the employee with 'empid' 1 to 'John'
        cur.execute(query)
        con.commit()
        print("Data Updated in Employee Table")
        con.close()  
    except mysql.connector.DatabaseError as db:
        print("Problem with MySQL :" , db)
update_data()

Data Updated in Employee Table

## Delete Data

In [9]:
## delete data from table in MySQL
def delete_data():
    try:
        con = mysql.connector.connect(host="localhost",
                                      user='root',
                                      passwd="9098562460",
                                      auth_plugin="mysql_native_password",
                                      database='MachineLearning')
        cur = con.cursor()
        query="delete from employee where empid=2"
        # This SQL command deletes the employee with 'empid' 2 from the 'Employee' table
        cur.execute(query)
        con.commit()
        print("Data Deleted in Employee Table")
        con.close()  
    except mysql.connector.DatabaseError as db:
        print("Problem with MySQL :" , db)
delete_data()

Data Deleted in Employee Table

## Drop Table

In [10]:
## drop table in MySQL
def drop_table():
    try:
        con = mysql.connector.connect(host="localhost",
                                      user='root',
                                      passwd="9098562460",
                                      auth_plugin="mysql_native_password",
                                      database='MachineLearning')
        cur = con.cursor()
        query="drop table employee"
        # This SQL command drops the 'Employee' table from the database
        cur.execute(query)
        con.commit()
        print("Table Deleted in Employee Table")
        con.close()  
    except mysql.connector.DatabaseError as db:
        print("Problem with MySQL :" , db)
drop_table()

Table Deleted in Employee Table