# SQL And SQLite

SQL(Structured Query Language) is a standard language for managing and manipulating relational databases. SQLite is a self - contained , serverless , and zero-configuration database engine that is widely used for embedded database systems.

In [1]:
import sqlite3

In [2]:
## connect to the database
conn = sqlite3.connect('employee.db')

In [3]:
conn.execute(''' drop table if exists employee ''')

In [4]:
## create table in employee.db 
conn.execute('''CREATE Table IF NOT EXISTS  EMPLOYEE
         (ID INT PRIMARY KEY     NOT NULL,
         NAME           TEXT    NOT NULL,
         AGE            INT     NOT NULL,
         ADDRESS        CHAR(50),
         SALARY         REAL);''')
print("Table created successfully")
conn.close()

Table created successfully

In [5]:
## insert data into the table
conn = sqlite3.connect('employee.db')
print("Opened database successfully")
conn.execute("INSERT INTO EMPLOYEE (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (1, 'Paul', 32, 'California', 20000.00 )") 
conn.execute("INSERT INTO EMPLOYEE (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (2, 'Allen', 25, 'Texas', 15000.00 )") 
conn.execute("INSERT INTO EMPLOYEE (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (3, 'Teddy', 23, 'Norway', 20000.00 )")       

conn.commit()
print("Records created successfully")
conn.close()

Opened database successfully
Records created successfully

In [6]:
## select data from the table
conn = sqlite3.connect('employee.db')
print("Opened database successfully")
cursor = conn.execute("SELECT id, name, address, salary from EMPLOYEE")
for row in cursor:
   print(row)
conn.close()

Opened database successfully
(1, 'Paul', 'California', 20000.0)
(2, 'Allen', 'Texas', 15000.0)
(3, 'Teddy', 'Norway', 20000.0)

In [7]:
## update data in the table
conn = sqlite3.connect('employee.db')
print("Opened database successfully")
conn.execute("UPDATE EMPLOYEE set SALARY = 25000.00 where ID = 1")
conn.commit()
print("Row updated successfully")
print("Total number of rows updated :", conn.total_changes)
conn.close()

Opened database successfully
Row updated successfully
Total number of rows updated : 1

In [8]:
## delete data from the table
conn = sqlite3.connect('employee.db')
print("Opened database successfully")
conn.execute("DELETE from EMPLOYEE where ID = 2;")
conn.commit()
print("Data deleted successfully")
print("Total number of rows deleted :", conn.total_changes)
conn.close()

Opened database successfully
Data deleted successfully
Total number of rows deleted : 1